<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/site_media/css/main.css">
<title>Will I Get Robbed?</title>
</head>
<body>
<div id="container">
  <div class="header">
    <div class="whole">
      <ul>
        <li><a href="index.html" alt="home">Will I Get Robbed?</a></li>
      </ul>
    </div>
  </div>
<div class="center">
  <div class="whole">
  	Safety Score: {{ safety_score }}% <br/>
	Most Popular Crime at this Time/Location: {{ likely_crime  }}
  </div>
</div>
<div class="footer">
  <ul>
  <li style="list-style-type: none;"><a href="faq/" alt="Frequently Asked Questions">FAQ</a></li>
  <li style="list-style-type: none;"><a href="about/" alt="About This">About</a></li>
  <ul>
</div>
</div>
</body>
</html>
