<!DOCTYPE html>
<html>
<head>
<!--
<link rel="stylesheet" type="text/css" href="/site_media/css/main.css">
-->
	<title> Crimes Stats </title>
</head
<body>
<div class="center">
		<div style="float: left">
			<center>
			<table border="1">
			    <thead>
			        <th> Crime Type </th>
			        <th> Frequency </th>
			    </thead>
			    <tbody>
			        <tr>
			            <td> Larceny </td>
			            <td> 2,637 </td>
			        </tr>
			        <tr>
			            <td> Burglary </td>
			            <td> 646 </td>
			        </tr>
			        <tr>
			            <td> Aggravated Assault </td>
			            <td> 331 </td>
			        </tr>
			    </tbody>
			</table>
		<strong> Most Popular Hour to Commit a Crime: </strong> 11:00 P.M
		</center>
		</div>

		<div style="float: right">
			<center>
			<table border="1">
			    <thead>
			        <th> Location </th>
			        <th> Count </th>
			    </thead>
			    <tbody>
			        <tr>
			            <td> 0 Block Destiny USA Drive </td>
			            <td> 217 </td>
			        </tr>
			        <tr>
			            <td> 6400 Block Basile Rowe </td>
			            <td> 121 </td>
			        </tr>
			        <tr>
			            <td> 5300 Block West Genesee Street </td>
			            <td> 107 </td>
			        </tr>
			    </tbody>
			</table>

			<strong> Most Popular Day to Commit a Crime: </strong> 29th
			</center>
		</div>
</div>
</body>
</html>
